@import "tailwindcss";

@layer base {
  html {
    font-family: "YekanBakh", sans-serif;
  }

  body {
    background-color: #f5f5f5;
  }
}

@theme {
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-heavy: 800;
  --font-weight-fat: 900;
}

.post-body p {
  line-height: 1.7;
}

.post-body p:not(:last-child) {
  margin-bottom: 10px;
}

.post-body h2 {
  font-weight: 700;
  font-size: 1.3rem;
  margin: 8px 0;
}
